<section class="page-members page-width">
  <div class="members-row--container">
    <h2 class="members-row--label">
      {{ section.settings.member_role | capitalize }}
    </h2>
    <div class="members-row--members" data-member-type="{{ section.settings.member_role }}">
      {% paginate shop.metaobjects.members.values by 100 %}
        {% assign member_type = shop.metaobjects.members.values | where: 'role', section.settings.member_role %}
        {%- for metaobject in member_type -%}

          {% if metaobject.role != 'Member' %}
            {% render 'card-member',
              link: metaobject.system.url,
              open_to_work: metaobject.open_to_work,
              hide_image: section.settings.hide_image,
              profile_photo: metaobject.profile_photo,
              name: metaobject.name.value,
              profile_photo: metaobject.profile_photo.value,
              profile: metaobject.profile
            %}
          {% else %}
            <h5>
              {{ metaobject.name.value }}
            </h5>
          {% endif %}
        {%- endfor -%}
      {% endpaginate %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Members",
  "settings": [
    {
      "type": "select",
      "id": "member_role",
      "label": "Member Role",
      "options": [
        {
          "value": "Founder",
          "label": "Founder"
        },
        {
          "value": "Founding Member",
          "label": "Founding Member"
        },
        {
          "value": "Member",
          "label": "Member"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "hide_image",
      "label": "Hide Image"
    }
  ],
  "presets": [
    {
      "name": "Members",
      "settings": {}
    }
  ]
}
{% endschema %}
