/* # Global  */
.text-center {
  text-align: center;
}
header.header.header--middle-center {
  display: flex;
  justify-content: center;
}
header.header--middle-center .header__heading-logo-wrapper {
  margin-bottom: 1rem;
}
@media screen and (min-width: 780px) {
  header.header--middle-center h1 a.header__heading-link {
    display: inline-flex;
    align-items: center;
  }
  header.header--middle-center .header__heading-logo-wrapper {
    width: unset;
    margin-bottom: 0;
  }
}

/* page-members section */
body.for-hire .members-row--member:not(.open-for-hire) {
  display: none;
}
.members-row--container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  padding: 1rem;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: .1rem solid rgba(var(--color-foreground),.08);
}
.members-row--label {
  grid-column: span 3;
}
.members-row--members {
  grid-column: span 9;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2rem;
}
.members-row--members[data-member-type="Member"] {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: center;
  padding-bottom: 2rem;
}
.members-row--member {
  padding: 1rem;
  border-radius: 20px;
  display: grid;
  min-height: 200px;
  width: 200px;
  text-align: center;
  text-decoration: none;
}
.members-row--members[data-member-type="Member"] .members-row--member {
  display: flex;
  min-height: unset;
  width: fit-content;
}
.members-row--members .members-row--member:hover {
  background-color: rgba(var(--color-foreground),.09);
}
.members-row--members[data-member-type="Member"] .members-row--member:hover {
  background-color: white;
}
.members-row--member img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
  max-width: 125px;
  max-height: 125px;
}
.members-row--member:hover img {
  scale: 1.1;
  transition: ease-in-out 0.5s;
}
.members-row--member h3 {
  margin-top: 0;
}
.members-row--members[data-member-type="Member"] .members-row--member h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}
.members-row--members[data-member-type="Member"] .members-row--member:hover h3 {
  color: black;
}
@media screen and (max-width: 749px) {
  .members-row--container {
    display: block;
  }
  .members-row--members {
    justify-content: center;
  }
  .members-row--member {
    width: 150px;
  }
}
/* avatar stack - in rich text blocks */
.avatar-stack {
  display: flex;
  justify-content: center;
  isolation: isolate;
  overflow: hidden;
  margin: 2rem auto;
}
.avatar-stack >*+* {
  margin-left: -3rem;
}
.avatar-stack__avatar {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  overflow: hidden;
  border: 6px solid rgba(var(--color-foreground), 1);
}

.avatar-stack__avatar img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.avatar-stack__avatar--number {
  z-index: 100;
  color: rgba(var(--color-button-text), 1);
  background: rgba(var(--color-background), 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
